/* additional fonts */
@font-face {
    font-family: anonymous-pro;
    src: url(../fonts/anonymous-pro.ttf);
}


/* css reset */
* {
    font-family: anonymous-pro;
    font-size: 16px;
    color: lime;
    background-color: black;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}



.typewriter {
  font-family: anonymous-pro;
  /*background-color: rgba(29,17,9,0.7);*/
  background-color: black;
  color: lime;

  text-align: center;

  height: 3em;
  text-align: center;
  padding-top: 1em;
  /*text-align: left;*/

  /*color: lime;*/
  overflow: hidden; /*hide the text that's not typed out yet*/
  border-right: .15em solid black;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
  letter-spacing: .15em; 
  animation: 
    typing 5s steps(40, end),
    /*blink-caret .75s step-end infinite;*/
    blink-caret 1s step-end infinite;

  z-index: 2;
/*  position: relative;
  margin-top: 80vh;*/
}

body {
    background-color: black;
    border: 2px solid lime;
    
}


fieldset {
  border: 1px solid #eeeeee;
  color: lime;
  padding: 1em;
  margin: 0;
  width: 90vw;
  /*display: inline-block;*/
  
}

legend {
  padding-left: 1em;
  padding-right: 1em;
}

article {
  padding-left: 1em;
  padding-right: 1em;
  width: 90vw;
}

article h2 {
  padding-left: 1em;
  padding-right: 1em;
}

article p {
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

section {
  padding-left: 1em;
  padding-right: 1em;
}

.article-section p {
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

#console {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#console label {
  color: lime;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#terminal {

  color: lime;
  background-color: #222;
  width: 80vw;
}

a {
  color: lime;
}

#output {
  /*color: lime;*/
  padding: 1em;
}

.description {
  color: white;

}

.listing {
  display: inline;
}

div.img-div {
  padding: 1em;
  /*text-align: center;*/
}

div.img-div img {
  height: 15em;
}

#article-img {
  height: 6em;
}

#smudge-img {
  height: 15em;
}

#progress-img {
  height: 20em;
}

#final-img {
  height: 20em;
}

#rootdance-img {
  height: 10em;
}

#beautiful-img {
  height: 10em;
}

#email-img {
  height: 13em;
}

#kit-img {
  height: 16em;
}

#front-img {
  height: 16em;
}

#back-img {
  height: 16em;
}

#flash-img {
  height: 18em;
}

nav {
  padding-left: 1em;
  padding-right: 1em;
}

.to-hide * {
  color: white;
}

blockquote * {
  background-color: #333;
}

#resources-oscp li {
  color: white;
}

@media only screen and (max-width: 800px) {
    * {
        font-size: 3vw;
    }
}

